################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ECommerceWebsite/.vs
/ECommerceWebsite/Domain/obj
/ECommerceWebsite/ECommerceWebsite/obj
/ECommerceWebsite/ECommerceWebsite.Domain/obj
/ECommerceWebsite/ECommerceWebsite.Infrastructure/obj
/ECommerceWebsite/ECommerceWebsite.Service/obj
/ECommerceWebsite/Service/obj
/myExercise_2/.vs/myExercise_2/FileContentIndex
/.vs
/demonNTierArchitecture/.vs/demonNTierArchitecture
/demonNTierArchitecture/demonNTierArchitecture/bin/Debug/net8.0
/demonNTierArchitecture/demonNTierArchitecture/obj
/demonNTierArchitecture/demonNTierArchitecture.Data/bin/Debug/net8.0
/demonNTierArchitecture/demonNTierArchitecture.Data/obj
/demonNTierArchitecture/demonNTierArchitecture.Models/obj
/demonNTierArchitecture/demonNTierArchitecture.Models/bin/Debug/net8.0
/demonNTierArchitecture/demonNTierArchitecture.Service/bin/Debug/net8.0
/demonNTierArchitecture/demonNTierArchitecture.Service/obj
